* {
    font-family: Cormorant Garamond;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    /* background-image: url(./img/bgc.png); */
    background-color: #111111;
    height: 85vh;
    /* background-repeat: no-repeat; */
}

/* Header */

.header__hidden-menu {
    display: none;
}

.header__hidden-menu li {
    display: inline-block;
    padding: 2%;
}

.menu__item {
    text-decoration: none;
}

.menu__item:hover {
    color: #CDAA7D;
}

.header__top {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.header__banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.header__icon {
    width: 24px;
    height: 24px;
    position: fixed;
    left: 15%;
}

.header__left {
    position: fixed;
    left: 20%;
}

.header__logo {
    position: fixed;
}

.header__right {
    position: fixed;
    right: 20%;
}

.header__icon img {
    width: 100%;
}

.header__menu {
    display: flex;
    gap: 80px;
    font-size: 18px;
}

.header__menu>li {
    display: inline-block;
    
}

.header__menu>li>a:hover {
    color: #CDAA7D;
    text-decoration: underline;
}

.header__menu > li > a {
    text-decoration: none;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 316px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    left: 8px;
    height: 2px;
    background-color: #FFFFFF;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 475px;
    height: inherit;
    padding: 10% 80px 10% 80px;
    background-color: #111111;
    transition-duration: .25s;
}

.menu__box p {
    line-height: 30px;
    font-size: 18px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    left: -230px
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    left: 0;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    left: 0;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.header__bottom {
    max-width: 540px;
    text-align: center;
    margin: 260px auto;
    height: auto;
}

h1 {
    font-size: 72px;
}

hr {
    position: fixed;
    left: 13%;
}

@media (max-width: 1800px){
    .menu__btn {
        right: 15%;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -259px;
    }
}

@media (max-width: 1700px){
    .header__top {
        gap: 6%;
    }

    hr {
        width: 80%;
    }

        #menu__toggle:checked~.menu__btn>span {
            left: -300px;
        }
}

@media (max-width: 1600px) {
    .header__top {
        gap: 4%;
    }

    hr {
        width: 90%;
    }
}

@media (max-width: 1400px) {
    .header__top {
        gap: 2%;
    }

    .header__menu {
        gap: 50px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -317px;
    }
}

@media (max-width: 1200px) {
    #menu__toggle:checked~.menu__btn>span {
        left: -350px;
    }
}

@media (max-width: 1024px){
    .header__menu {
        display: none;
    }
    
    .header__top {
        justify-content: space-evenly;
    }

    .header__hidden-menu {
        display: flex;
        flex-direction: column;
    }

    .menu__box {
        padding: 15% 80px 10% 80px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -390px;
    }
}

@media (max-width: 800px) {
    
    .menu__box {
        padding: 20% 80px 10% 80px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -425px;
    }
}

@media (max-width: 600px) {

    .menu__box {
        width: 300px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -272px;
    }

    h1 {
        font-size: 55px;
    }
}

@media (max-width: 500px) {

    .menu__box {
        width: 200px;
        padding: 25% 80px 10% 80px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -190px;
    }

    h1 {
        font-size: 40px;
    }
}

@media (max-width: 400px) {

    .menu__box {
        width: 150px;
        padding: 30% 80px 10% 80px;
    }

    #menu__toggle:checked~.menu__btn>span {
        left: -155px;
    }
}

/* секция сервисы */

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* .services {
    background-color: #111111;
} */

.services__image {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.services__desc {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
}

.services__desc p {
    line-height: 30px;
    font-size: 27px;
}

.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.services__wrapper-img {
    padding-bottom: 60px;
}

.services__cosmetics {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
}

@media (max-width: 900px) {

    .services__wrapper {
        text-align: center;
    }

    .services__wrapper-img:hover {
        cursor: pointer;
    }

    .services__wrapper-img img {
        width: 60%;
    }

    .services__logo {
        text-align: center;
    }

    .services__logo img {
        width: 40%;
    }
}

/* работы */

/* .works {
    background-color: #111111;
} */

h2 {
    padding-top: 10%;
    padding-bottom: 7%;
    font-size: 48px;
    text-align: center;
}

.works__menu {
    font-size: 24px;
    padding-bottom: 6%;
    text-align: center;
    justify-content: center;
}

.works__img-wrapper {
    padding-bottom: 5%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {

    .works__img-wrapper {
        text-align: center;
    }

    .works__img-wrapper img {
        width: 60%;
    }
}

/* футер */

.footer__wrapper {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
    border-block-start: 1px solid #ffffff;
    border-block-end: 1px solid #ffffff;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.footer__contacts ul,
.footer__work-time ul {
    display: flex;
    flex-direction: column;
}

.footer__contacts > ul > li,
.footer__work-time > ul > li {
    display: inline-block;
    line-height: 35px;
}

.footer__social a:hover {
    cursor: pointer;
}

.footer__copyright {
    padding-bottom: 2%;
    text-align: center;
}

@media (max-width: 800px) {
    .footer__social {
        padding-top: 5%;
    }
}

@media (max-width: 600px) {
    .footer__work-time {
        padding-top: 5%;
    }
}

@media (max-width: 400px) {
    .footer__contacts {
        padding-top: 5%;
    }

    .footer__work-time {
        padding-right: 3%;
    }

    .footer__wrapper {
        text-align: center;
    }
}

/* секция контакты */

.contacts h1 {
    font-size: 48px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.contacts__map {
    height: 50vh;
    background-color: gray;
    width: 100%;
}

.contacts__wrapper { 
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

@media (max-width: 900px){
    .contacts h1 {
        font-size: 24px;
    }
}

/* секция наши мастера */

.team__title {
    font-size: 48px;
}

.team__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.team__photo {
    max-width: 420px;
    transition: all .3s ease-in-out;
}

@media (max-width: 700px) {
    .team__photo {
        max-width: 220px;
    }

    .team__photo img {
        width: 100%;
    }
}